.new-image {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2em;
    justify-content: space-between;

    .settings {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-auto-rows: min-content;
        row-gap: 1rem;
        column-gap: 1em;
        align-content: center;
        justify-items: start;
    }

    label {
        justify-self: end;
    }

    select {
        padding: .2rem;
    }

    .size input.error {
        outline-color: RGBA(255,0,0,.5);
    }

    .size .help {
        font-size: xx-small;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
