/* @import "something.css"; */

:root {
    color-scheme: light dark;
    /* --margin-x: 3rem; */
    /* --margin-y: 2rem; */
    --light-background: rgb(255,255,255);
    --light-zebra: rgb(244, 245, 245);
    --light-selection: #803482; /* FIXME */
    --light-selection-disabled: #464646; /* FIXME */
    --light-separator: rgb(221,221,221);
    --light-header-sort-column: #272727;
    --light-filename: #272727;
    --light-boring: #808080;
    --light-sidebar-background: #e2e2e2;
    --light-sidebar-background-disabled: #e9e9e9;
    --light-topbar-background: #f6f5f5;
    --light-topbar-background-disabled: #e9e9e9;
    --light-topbar-highlight-background: #e9e8e8;
    --light-topbar-highlight-background-disabled: #dcdbdc;
    --light-topbar-filename:#4a4a4a;
    --light-topbar-filename-disabled: #a9a8a9;
    --light-topbar-boring: #6f6f6f;
    --light-topbar-boring-disabled: #6f6f6f;
    --light-drop-outline: #705771; /* FIXME */

    --dark-background: #232222;
    --dark-zebra: #2d2c2c;
    --dark-selection: #803482;
    --dark-selection-disabled: #464646;
    --dark-separator: #454444;
    --dark-header-sort-column: #dddddd;
    --dark-filename: #dfdfdf;
    --dark-boring: #acacac;
    --dark-sidebar-background: #3b3b3b;
    --dark-sidebar-background-disabled: #2c2b2b;
    --dark-topbar-background: #383838;
    --dark-topbar-background-disabled: #2c2b2b;
    --dark-topbar-highlight-background: #444444;
    --dark-topbar-highlight-background-disabled: #393838;
    --dark-topbar-filename:#ebebeb;
    --dark-topbar-filename-disabled: #6d6c6c;
    --dark-topbar-boring: #9c9c9c;
    --dark-topbar-boring-disabled: #616060;
    --dark-drop-outline: #705771;
}

:root {
    --zebra:                                var(--light-zebra);
    --background:                           var(--light-background);
    --selection:                            var(--light-selection);
    --selection-disabled:                   var(--light-selection-disabled);
    --separator:                            var(--light-separator);
    --header-sort-column:                   var(--light-header-sort-column);
    --filename:                             var(--light-filename);
    --boring:                               var(--light-boring);
    --sidebar-background:                   var(--light-sidebar-background);
    --sidebar-background-disabled:          var(--light-sidebar-background-disabled);
    --topbar-background:                    var(--light-topbar-background);
    --topbar-background-disabled:           var(--light-topbar-background-disabled);
    --topbar-highlight-background:          var(--light-topbar-highlight-background);
    --topbar-highlight-background-disabled: var(--light-topbar-highlight-background-disabled);
    --topbar-filename:                      var(--light-topbar-filename);
    --topbar-filename-disabled:             var(--light-topbar-filename-disabled);
    --topbar-boring:                        var(--light-topbar-boring);
    --topbar-boring-disabled:               var(--light-topbar-boring-disabled);
    --drop-outline:                         var(--light-drop-outline);
}

@media (prefers-color-scheme: dark) {
    :root {
        --zebra:                                var(--dark-zebra);
        --background:                           var(--dark-background);
        --selection:                            var(--dark-selection);
        --selection-disabled:                   var(--dark-selection-disabled);
        --separator:                            var(--dark-separator);
        --header-sort-column:                   var(--dark-header-sort-column);
        --filename:                             var(--dark-filename);
        --boring:                               var(--dark-boring);
        --sidebar-background:                   var(--dark-sidebar-background);
        --sidebar-background-disabled:          var(--dark-sidebar-background-disabled);
        --topbar-background:                    var(--dark-topbar-background);
        --topbar-background-disabled:           var(--dark-topbar-background-disabled);
        --topbar-highlight-background:          var(--dark-topbar-highlight-background);
        --topbar-highlight-background-disabled: var(--dark-topbar-highlight-background-disabled);
        --topbar-filename:                      var(--dark-topbar-filename);
        --topbar-filename-disabled:             var(--dark-topbar-filename-disabled);
        --topbar-boring:                        var(--dark-topbar-boring);
        --topbar-boring-disabled:               var(--dark-topbar-boring-disabled);
        --drop-outline:                         var(--dark-drop-outline);
    }
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-variant: tabular-nums;
    font-size: 14px;
    background-color: var(--background);
    color: var(--filename);
    margin: 0;
}

#pdpfs {
    min-width: 30rem;
}
.directory-list {
    display: grid;
    grid-template-areas: "f b s d"; /* needs to match `grid-column-end: span X`, below */
    grid-template-rows: auto minmax(0, 1fr);
    height: 100vh;
    align-content: start;
}

.directory-list .body {
    position: relative; /* so hover fills in nicely */
    grid-auto-rows: min-content;
    overflow-y: scroll;
}
.directory-list.hover .body::before {
    content: " ";
    position: absolute;
    border: 2px solid var(--drop-outline);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header, .direntry, .body {
    display: grid;
    grid-template-columns: subgrid;
    grid-column-end: span 4; /* needs to match `grid-template-areas:`, above */
}

.direntry {
    margin: 0 8px;
}

.header .filename {
    /* extra bit in front of filename to compensate for .header having 0 margin */
    margin-left: 8px;
}

.directory-list .filename {
    grid-area: f;
    color: var(--filename);
    padding-left: 1em;
}

.blocks {
    grid-area: b;
    color: var(--boring);
}
.size {
    grid-area: s;
    color: var(--boring);
}
.date {
    grid-area: d;
    color: var(--boring);
}
.header {
    position: sticky;
    top: 0px;
    background: var(--background);
    border-bottom: 1px solid var(--separator);
    margin: 0; /* So the border line goes all the way to the left and right edges */
}
.directory-list div {
    padding: .1rem 0;
}
.directory-list .direntry {
    border-radius: 7px;
}
.directory-list .direntry:nth-child(2n) {
    background-color: var(--zebra);
}
.directory-list .direntry.selected {
    background-color: var(--selection);
}

/* Make consecutive selections meld together nicely */
.direntry.selected + .direntry.selected {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.direntry.selected:has(+ .direntry.selected) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.directory-list .body {
  grid-auto-rows: min-content;
  overflow-y: scroll;
}
